@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(70, 142, 236);
    font: normal 1em Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 1.5em;
    color: white;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 40vw;
    margin: 20px auto 20px auto;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}

form div {
    padding: 10px;
}

form > div > input {
    padding: 3px;
}

.botoes input {
    padding: 5px;
    margin-right: 20px;
    
}

footer {
    margin-top: 50px;
    text-align: center;
    color: white;
}